body{
	background-image: url("../images/bgr.jpg");
	
	
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: darkgoldenrod;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 20px;
  background-color: rgba(242,242,242,0.75);
  padding: 60px;
	position: relative;
	top: 8rem;
}

@media only screen and (max-width: 1024px) {
	
	
	
}

